.album-section {
    padding: 2rem;
  }
  
  .album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .album-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .album-card:hover {
    transform: scale(1.02);
  }
  
  .album-card img {
    border-radius: 4px;
    width: 100%;
    height: auto;
  }
  
  .album-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  
  .album-card .artist,
  .album-card .genre {
    font-size: 0.875rem;
    color: #555;
  }
  
  .album-card .genre {
    align-self: flex-end;
    margin-top: -1.2rem;
  }
  
  .album-card .price {
    font-weight: bold;
    font-size: 1rem;
    margin-top: auto;
  }
  
    .buy-btn {
      margin-top: 0.5rem;
      background-color: var(--brand-color);
      color: #fff;
      border: none;
      padding: 0.75rem;
      width: 100%;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
  
.buy-btn:hover {
  background-color: var(--brand-color-dark);
}
  
  