.filter-price {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-price label {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.valorMax {
  color: #820ad1;
}

/* botões */
.genre-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.genre-options input[type="radio"] {
  display: none;
}

.genre-options label {
  background-color: var(--gray-6);
  color: var(--gray-1);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}

.genre-options input[type="radio"]:checked + label {
  background-color: var(--color-brand-1);
  color: #fff;
}

  .genre-buttons button:hover {
    background-color: var(--brand-color-light);
  }
  
  .genre-btn-active{
      width: 70.4000015258789;
  height: 32;
  padding-top: 10.2px;
  padding-right: 11.2px;
  padding-bottom: 10.2px;
  padding-left: 11.2px;
  gap: 10px;
  border-radius: 4px;
  }
    
  .genre-btn-pop{
      width: 52.400001525878906;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  
  .genre-btn-mpb{
      width: 58.400001525878906;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  
  .genre-btn-forro{
      width: 62.400001525878906;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  
  .genre-btn-samba{
      width: 75.4000015258789;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  
  .genre-btn-baião{
      width: 65.4000015258789;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  
  .genre-btn-rap{
      width: 52.400001525878906;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }
  .genre-btn-hiphop{
      width: 87.4000015258789;
      height: 32;
      padding-top: 10.2px;
      padding-right: 11.2px;
      padding-bottom: 10.2px;
      padding-left: 11.2px;
      gap: 10px;
      border-radius: 4px;
      
  }

  /* Selecionando o elemento input range (selecione por id ou classe) */

  #priceRange {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, var(--color-brand-1) 0%, var(--color-brand-1) 100%);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background 450ms ease-in;
  }
  
  #priceRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 3px solid var(--color-brand-1);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    z-index: 2;
  }
  
  #priceRange::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 3px solid var(--color-brand-1);
    border-radius: 50%;
    cursor: pointer;
  }
  