.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-title);
  }
  
  .logo span {
    color: var(--color-primary); /* "open" roxo */
  }
  
  .theme-toggle {
    width: 32px;
    height: 32px;
    background-image: url('../open-music/assets/icons/Lua.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    background-color: var(--color-light);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-image 0.3s ease;
  }
  

  .header-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    margin: 1rem 0;
  }